<!-- WRAPPER -->
	<div class="wrapper">
		

		<!-- HERO UNIT -->
		<section class="hero-unit-slider">
			<div id="carousel-hero" class="slick-carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="assets/cup1.jpg" alt="Slider Image" >
						<div class="carousel-caption">
							<h2 class="hero-heading">Me &amp; You</h2>
							<p class="lead">Because that's all that matters</p>
							<%= link_to "let's get started", login_path, class:"btn btn-lg hero-button" %>

						</div>
					</div>
					<div class="item">
						<img src="assets/cup3.jpg" alt="Slider Image">
						<div class="carousel-caption">
							<h2 class="hero-heading">Me &amp; You</h2>
							<p class="lead">Because that's all that matters</p>
							<%= link_to "let's get started", login_path, class:"btn btn-lg hero-button" %>
						</div>
					</div>
					
					<div class="item">
						<img src="assets/cup4.jpg" alt="Slider Image">
						<div class="carousel-caption">
							<h2 class="hero-heading">Me &amp; You</h2>
							<p class="lead">Because that's all that matters</p>
							<%= link_to "let's get started", login_path, class:"btn btn-lg hero-button" %>
						</div>
					</div>





				</div>
			</div>
		</section>
		<!-- END HERO UNIT -->

		<div class="clearfix margin-bottom-30px"></div>

		<!-- BOXED CONTENT -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-users"></i>
							<h2 class="boxed-content-title">Why we made Me & You</h2>
							<p>Beef ribs pig ham hock meatloaf jowl alcatra. Pork belly ribeye chuck chicken jerky spare ribs prosciutto, alcatra tongue pork chop strip steak bacon turducken ball tip brisket. Boudin shank landjaeger tenderloin, shankle chuck ham cupim tail beef hamburger short loin. Sirloin leberkas sausage kielbasa, boudin alcatra corned beef. Bacon meatball capicola shankle cupim hamburger. Ham turkey beef andouille shoulder tail corned beef bresaola capicola.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END BOXED CONTENT -->

		<!-- RECENT WORKS -->
		<section class="recent-works">
			<div class="container">
				
			</div>
		</section>
		<!-- END RECENT WORKS -->

		<!-- TESTIMONIAL -->
		<section>
			<div class="container">
				<hr>
				<section class="testimonial slick-carousel margin-bottom-30px">
					<div class="testimonial-body">
						<p>Chicken pancetta short loin doner alcatra ham. Landjaeger picanha brisket ribeye prosciutto. Ball tip meatloaf chicken short loin pig tongue meatball shoulder.</p>
						<div class="testimonial-author">
							<img src="assets/img/user2.png" alt="Author" class="pull-left">
							<span><span class="author-name">Paul</span> <em>User since 2012</em></span>
						</div>
					</div>
					<div class="testimonial-body">
						<p>Kielbasa meatloaf drumstick corned beef pork jowl alcatra landjaeger spare ribs sirloin beef ribs short ribs andouille. Short ribs tail chicken rump short loin tenderloin ham hock. Tenderloin biltong pig spare ribs corned beef picanha tail chicken shankle pork chop shoulder.</p>
						<div class="testimonial-author">
							<img src="assets/img/user1.png" alt="Author" class="pull-left">
							<span><span class="author-name">Michael</span> <em>User since 2011</em></span>
						</div>
					</div>
					<div class="testimonial-body">
						<p>Pastrami fatback ground round prosciutto pork chop. Filet mignon jerky spare ribs tail ground round meatball tri-tip pork belly ribeye drumstick bacon pastrami sausage pig.</p>
						<div class="testimonial-author">
							<img src="assets/img/user5.png" alt="Author" class="pull-left">
							<span><span class="author-name">Freddy</span> <em>User since 2014</em></span>
						</div>
					</div>
				</section>
				<hr class="margin-bottom-50px">
			</div>
		</section>
		<!-- END TESTIMONIAL -->

		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h3 class="sr-only">ABOUT US</h3>
					
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								<li>1234 North Main Street
									<br/> New York, NY 222222</li>
								<li>Phone: (1800) 765 - 4321</li>
								<li>Email: email@yourdomain.com</li>
							</ul>
						</address>
						<!-- END COLUMN 1 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<h3 class="footer-heading">USEFUL LINKS</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">About Us</a></li>
									<li><a href="#">News</a></li>
									<li><a href="#">Community</a></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">Press Kit</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Terms</a></li>
								</ul>
							</div>
						</div>
						<!-- END COLUMN 2 -->
					</div>
					<div class="col-md-4">
						
						<!-- COLUMN 3 -->
					
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2015 David Horn. All Rights Reserved.
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->

	<%= render partial: 'shared/end_javascript' %>

