		
<div class="welcome_box text-center">
<br>
  <p class="white font_md">The only thing we never get enough of is love; and the only thing we never give enough of is love.</p>

  <p class="white font_md">- Henry Miller</p>

</div>	

