
	
		
		
<div class="welcome_box text-center">
<br>
<h1 class="white font_lg">Welcome to Me & You</h1>
  <p class="white font_md">Shoulder ball tip flank tail sirloin. Ground round kevin short loin, pork ham hock tenderloin t-bone hamburger landjaeger pork loin. Turkey turducken jerky, brisket porchetta cow pork chop alcatra corned beef pork belly spare ribs kevin chicken. Brisket shoulder biltong porchetta drumstick leberkas, sausage landjaeger ham hock sirloin doner tongue. Alcatra fatback shankle, drumstick pork belly tri-tip chuck prosciutto.</p>

</div>	

