<h1 class="font_lg text-center margin_top"><u>Find Your Match</u></h1>

<div class="all-user-box">
<h2 class="white text-center font_md"><u>Availible Matches</u></h2>

<% @all_users.each do |user|%>

<% if user.match == nil && user.name != @current_user.name %>

<h5 class="white text-center"><%= user.name%>  <%= link_to "Match", match_path(user.id), method: :post %></h5>

   <% end %>
<% end %>
</div>