<ul class="list-unstyled text-center">
  <li><%= image_tag("#{current_user.picture}", id:"profile-img", class:"img-rounded img-responsive") %></li>
  <li class="text-center font_lg"><h1><%= current_user.name %></h1></li>
  <li class="text-center font_md"><h3><%= current_user.email %></h1></li>
</ul>

