<div class="container margin_top">

<div class="row">

<% if @user_created_coupons.length > 0 %>

<p class="font_lg pad-l-5"><u>My Coupons:</u></p>

<% @user_created_coupons.each do |coupon|%>

<div class="col-md-6">
<div id="coupon" class="design_<%= coupon.design_id %> img-rounded animated fadeInUpBig margin_around">
	
	<p class="coup-head font_resp">PRICE: <strong><%= coupon.price %></strong> points</p>

	<p class="coup-text pad-bottom-sm"><%= coupon.description %></p>

<p class="coup-text"><%= link_to "", coupon_path(coupon), { method: :delete, :style=>'color:#FFFFFF;', :class=>'fa fa-trash fa-2x' } %></p>

</div>
</div>

<% end %>
<% end%>
</div>


</div>