<br>
<br>

<div style="clear:both;"></div>

<nav class="navcolor navbar navbar-default navbar-fixed-bottom">
  <div class="container">

  	<div class="social-connect">
							<ul class="list-inline social-icons navbar-right">
								<li><a href="https://www.facebook.com/games/?fbs=-1&app_id=903509093070590&preview=1&locale=en_US" class="facebook-bg" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>

  </div>
</nav>