<br>
<br>

<div style="clear:both;"></div>

<nav class="navcolor navbar navbar-default navbar-fixed-bottom fix-height">
  <div class="container">

<!-- testing out media queries that work on viewport width -->

<style>
@media (max-width: 780px) {
  .user-note {
    display: none;
  }
}
</style>

<!-- removes below text when viewport sized down -->


	<ul class="list-inline navbar-left footer-v-center user-note">
	  
		<li>
		  <p class="help-block footer-copy">* Me & You needs Google Chrome Desktop to function as expected</p>
		</li>
	</ul>


  	<div class="social-connect">
							<ul class="list-inline social-icons navbar-right">
								<li><a href="https://www.facebook.com/meandyousocial/" class="facebook-bg" target="_blank"><i class="fa fa-facebook"></i></a></li>
								
                                <!-- place to ADD an additional icon link as needed -->

								<!-- <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li> -->
								
<!-- current user, log out -->

							<% if @current_user %>

								<li><%= link_to logout_path, method: :delete, class: "rss-bg" do %>
    							<i class="fa fa-sign-out"></i><% end %></li>
								<% end %>

<!-- no current user, login -->

                           <% if !@current_user %>

								<li><%= link_to login_path, class: "rss-bg" do %>
    							<i class="fa fa-sign-in"></i><% end %></li>
								<% end %>
							

							</ul>
						</div>

  </div>
</nav>