<div style="background: rgba(66, 7, 16, 0.6); overflow: hidden;">

<img src="https://wajeehagbariya.files.wordpress.com/2011/12/2399952507_a347421aa9.jpg" alt="Me & You" style="float: right;">

<h2 style="font-family: 'Averia Serif Libre', cursive; color: white; margin-left: 20px; padding-top: 20px; font-size: 30px;">Hi <%=@user.email %>,</h2>

<h2 style="font-family: 'Averia Serif Libre', cursive; color: white; margin-left: 20px;"> You can reset your password <%= link_to "here", edit_reset_url(@user.password_reset_token) %>.</h2>

<h2 style="font-family: 'Averia Serif Libre', cursive; color: white; margin-left: 20px;">Have a great day!</h2>
<h3 style="font-family: 'Averia Serif Libre', cursive; color: white; margin-left: 20px; padding-bottom: 20px;">- Me & You Team</h3>

</div>