<div style="background: rgba(66, 7, 16, 0.6);">

<h2 style="font-family: 'Indie Flower', cursive; color: white; margin-left: 20px; padding-top: 20px;">Hi <%=@user.email %>,</h2>

<h3 style="font-family: 'Indie Flower', cursive; color: white; margin-left: 20px;"> You can reset your password <%= link_to "here", edit_reset_url(@user.password_reset_token) %>.</h3>

<h3 style="font-family: 'Indie Flower', cursive; color: white; margin-left: 20px;">Have a great day!</h3>
<h4 style="font-family: 'Indie Flower', cursive; color: white; margin-left: 20px; padding-bottom: 20px;">- Me & You Team</h4>

</div>

