// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#coupon {
 // creates the coupon layout
 // padding: 10%;	
 padding: 2%;
 border: 5px dashed white;
 height: 260px;
 overflow: auto;

}

.design_1 {

 background-color: #366bc7;

}

.design_2 {

 background-color: #fcc94c;

}

.design_3 {

 background-color: #c60737;

}

.design_4 {

 background-color: #4bc96d;

}

.vert_text {

margin-top: 20%;
// margin-bottom: 50%;
float: right;
transform: rotate(270deg);
transform-origin: left bottom 0;
color: white;
font: 40px bold;

//  display: inline;
//  position: fixed;

// -webkit-transform: rotate(90deg);   
// -moz-transform: rotate(90deg);
// -ms-transform: rotate(90deg);
// -o-transform: rotate(90deg);
// transform: rotate(90deg);

}

.coup-head {
	
	// font-family: 'Righteous', cursive;
	font-family: 'Roboto', sans-serif;
	// font-size: 40px;
    color: white;

}

.coup-text { 
	
    // font-family: 'Shadows Into Light', cursive;
	// font-family: 'Righteous', cursive;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 20px;
	
}


.bottom-right {
	// (relatively) places element in lower right corner
	// of parent element
	margin-top: 10%;
	margin-left: 80%;

}