// Place all the styles related to the kudos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.kudo_form {
	 margin-top: 60px;
	// margin-left: 600px;
	// margin-right: auto;
    background: rgba(223, 255, 240, 0.6);
    // width: 800px;
    height: 260px;


}