// Place all the styles related to the kudos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.kudo_form {
// css for make a new kudo form

	// Margin above make a new kudo form
	// margin-top: 12%;
    padding: 2%;

    background: rgba(223, 255, 240, 0.6);
    // width: 800px;
    // height: 280px;
}

.coupon_form {
// css for make a new coupon form

	margin-top: 12%;
	margin-bottom: 2%;
    padding: 2%;
    background: rgba(223, 255, 240, 0.6);
    // height: 280px;
}


.pad {
// padding at the top of "Our Page"
padding-top: 12%;

}

.margin_around {
// add 2% margin around element
	margin: 2%;
}