// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Site Background -------------------

.flower {

  background: url(white.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
 
}

 body {

  background: #BDE2E8;
  margin-bottom: 50px;
 
}

// Welcome Text Box Color/Style

.welcome_box {
  margin-top: 14%;
	// margin-top: 120px;
	// margin-left: 600px;
  margin-left: 44%;
	// margin-right: auto;
  margin-right: 8%;

  padding: 2px;

  background: rgba(66, 7, 16, 0.6);
  min-width: 224px;

	// background: rgba(200, 54, 54, 0.6);
	// background: rgba(66, 7, 16, 0.6);
	// white background: rgba(223, 255, 240, 0.6);

}

.auth_box {
   margin-top: 12%;
  // margin-top: 60px;
   margin-left: 46%;
  // margin-left: 640px;
   margin-right: 8%;
  // margin-right: auto;
   min-width: 480px;

}

// use <span> tag to keep sections of copy from wrapping

span.nobr { white-space: nowrap; }

// Availible Fonts -------------

.font_sm {
// font-family: 'Indie Flower', cursive;
font-family: 'Averia Serif Libre', cursive;
}

.font_md {
  font-size: 20px;
  // font-family: 'Indie Flower', cursive;
  font-family: 'Averia Serif Libre', cursive;
}

.font_lg {
  font-size: 48px;
  // font-family: 'Indie Flower', cursive;
  font-family: 'Averia Serif Libre', cursive;
}

.font_nav {
  font-size: 30px;
  // font-family: 'Indie Flower', cursive;
  font-family: 'Averia Serif Libre', cursive;

}


// Navbar Brand Link Color -----------------

.nav-logo {
   // height: 36px;
   max-width: 34px;
   // padding-bottom: 4px;
}

.link_color:link { 
  color: white;
}
.link_color:visited { 
  color: white;
}
.link_color:hover { 
  color: white;
}
.link_color:active { 
  color: white;
}

.box-icon {
  font-size: 24px;
}

#mainNav {
  // background-color: #871243;  
  border-radius: 0;
  // padding: 0;
  // background-color: grey;
}

.white {
  color: white;
}

.red {
  color: rgb(66, 7, 16);
}

.navcolor {

  background-color: #5E5D5E;  
    // #5E5D5E Footer Color
}

.avatar {
  width: 30px;
}

#profile-img {
  width: 80px;
  float: left;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto; 
}

.fb-button {
  height: 30px;
}

