// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pad-md {

padding: 6px;

}

.margin_top {

margin-top: 8%;

}

.margin_top_sm {

margin-top: 1%;

}

.all-user-box {

	background: rgba(66, 7, 16, 0.6);
    border-style: solid;
    border-color: white;
    // margin-left: 80px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1%;

}

// search box used on the Users/Index page
.search-box {

    background: rgba(255, 255, 255, 0.7);
    // border-style: solid;
    // border-color: white;
    padding: 1%;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;

}

.box_align {
    
	margin-left: 46px;
	margin-top: 20px;
}

.match-details-box {

    // width: 300px;
    height: 300px;
	background: rgba(66, 7, 16, 0.6);
    border-style: solid;
    border-color: white;
    overflow: auto;
    padding-bottom: 10px;
    padding-right: .7%;
    padding-left: .7%;

}

.kudo-box {

    // consider doing a fixed height....
    // width: 520px;
    height: 260px;
    background: rgba(223, 255, 240, 0.6);
    border-style: solid;
    border-color: white;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

.kudo-box-points {

    float: left;
    border-right: 2px solid;
    margin-right: 4px;
    padding: 6px;

}

.kudo-box-created {

    // width: 520px;
    background: rgba(223, 255, 240, 0.6);
    border-style: solid;
    border-color: grey;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7%;
    padding: .5%;

}

.edit_user_form {
    // css for edit your information form
    margin-top: 12%;
    // margin-left: 600px;
    // margin-right: auto;
    background: rgba(223, 255, 240, 0.6);
    // width: 800px;
    // height: 520px;
    padding: 2%;
}