// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin_top {

margin-top: 60px;

}

.all-user-box {
	width: 300px;
	background: rgba(66, 7, 16, 0.6);
    border-style: solid;
    border-color: white;
    margin-left: 80px;

}

.box_align {

	margin-left: 46px;
	margin-top: 20px;
}

.match-details-box {

    // width: 300px;
	background: rgba(66, 7, 16, 0.6);
    border-style: solid;
    border-color: white;
    overflow: scroll;

}

.kudo-box {

    width: 520px;
    background: rgba(223, 255, 240, 0.6);
    border-style: solid;
    border-color: grey;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;

}